.container
  .page_content
    .pagetitle
      %h2= @board.name
    .page_content_actions
      .dropdown
        = image_tag 'action.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_board_path(@board)
          = link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: 'Are you sure you want to delete this board?' }
  .page_description
    %p= @board.description
  .card
    .card_title
      Home business advertising ideas
    .card_content
      %p Old fashioned recipe for preventing allergies and chemical sensitivities
      = image_tag 'user1.png', class: 'avatar_image'
  .add-card
    %h3 + Add new card
